numpy==1.*
openai==1.2.3
tiktoken==0.*
colorama==0.*
jsonschema==4.*
types-colorama==0.*
types-requests==2.*
protobuf==4.*
pathlib==1.0.1
networkx==3.2.1
transformers==4.*
diffusers==0.*
accelerate==0.*
datasets==2.*
torch==1.*
soundfile==0.*
sentencepiece==0.*
opencv-python==4.*
beautifulsoup4==4.*
docx2txt==0.8.*
PyMuPDF==1.22.5
wikipedia==1.*
pyowm==3.3.0
yapf==0.32.0
isort==5.12.0
flake8==4.0.1
mypy==1.5.1
toml>=0.10.2
pre-commit==3.*
pytest==7.*
pytest-cov==4.*
gradio==3.*
mock==5.*
pandas-stubs==*
types-Pillow==*
types-Pygments==*
types-mock==*
types-regex==*
types-setuptools==*
types-tqdm==*
sphinx==6.*
sphinx_book_theme==*
recommonmark==*
git+https://github.com/camel-ai/camel.git@feature/multi-agent-prod#egg=camel
