numpy>=1,<2.0.0
openai>=1.2.3,<2.0.0
tiktoken>=0,<1.0.0
colorama>=0,<1.0.0
jsonschema>=4,<5.0.0
protobuf>=4,<5.0.0
pathlib>=1.0.1,<2.0.0
docstring-parser>=0.15,<1.0.0
pydantic>=2,<3
networkx>=2.8.8,<3.0.0
matplotlib>=3.4.3,<4.0.0
wikipedia>=1.4.0,<2.0.0
git+https://github.com/camel-ai/camel.git@feature/multi-agent-prod