numpy>=1.0.0,<2.0.0
openai>=1.2.3,<2.0.0
tiktoken>=0.0.0,<1.0.0
colorama>=0.0.0,<1.0.0
jsonschema>=4.0.0,<5.0.0
protobuf>=4.0.0,<5.0.0
networkx>=2.8.8
transformers>=4.0.0,<5.0.0
diffusers>=0.0.0,<1.0.0
accelerate>=0.0.0,<1.0.0
datasets>=2.0.0,<3.0.0
torch>=2.0.0,<3.0.0
soundfile>=0.0.0,<1.0.0
sentencepiece>=0.0.0,<1.0.0
opencv-python>=4.0.0,<5.0.0
beautifulsoup4>=4.0.0,<5.0.0
docx2txt>=0.8.0,<1.0.0
PyMuPDF>=1.22.5,<2.0.0
wikipedia>=1.0.0,<2.0.0
pyowm>=3.3.0,<4.0.0
unstructured>=0.10.30,<1.0.0
qdrant-client>=1.6.4,<2.0.0
pytest>=7.0.0,<8.0.0
mock>=5.0.0,<6.0.0
yapf==0.32.0
isort==5.12.0
flake8==4.0.1
mypy>=1.5.1,<2.0.0
toml>=0.10.2,<1.0.0
pre-commit>=3.0.0,<4.0.0
pytest-cov>=4.0.0,<5.0.0
gradio>=3.0.0,<4.0.0
types-Pillow
types-Pygments
types-mock
types-regex
types-setuptools
types-tqdm
types-colorama>=0.0.0,<1.0.0
types-requests>=2.0.0,<3.0.0
sphinx>=6.0.0,<7.0.0
sphinx_book_theme
recommonmark
git+https://github.com/camel-ai/camel.git@feature/multi-agent-dev